.main-section1 {
    background-color: #2d3748;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    box-sizing: border-box;
    color: #f9fafc;
}
.hero-heading {
    margin-bottom: 10px;
}
img {
    height: 300px;
    width: auto;
    border-radius: 10px;
}
.space-between-text-image {
    margin-right: 350px;
}
.space-between-text-image p {
    font-size: 20px;
    margin-bottom: 15px;
}