.main-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    box-sizing: border-box;
    color: #000000;
    background-image: url('../image/backgroundimage.jpeg');
}
.hero-heading {
    margin-bottom: 10px;
    font-size: clamp(1.5rem, 2.8rem, 3.5rem);
}
img {
    height: 300px;
    width: auto;
    border-radius: 10px;
}
.space-between-text-image {
    margin-right: 190px;
}
.space-between-text-image p {
    font-size: 20px;
    margin-bottom: 15px;
}
.section2-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.same-style {
    background-color: rgb(225, 225, 225);
    border: 3px solid ;
    border-color: #e5e7eb;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 20px;
    box-shadow: 0px 1px 4px rgb(0, 0, 0);
}
.each-box1 {
    margin-right: 50px;
    display: flex;
}
.each-box2 {
    margin-left: 50px;
}

.section2-layout div h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section2-layout div p {
    font-family: Arial, Helvetica, sans-serif;
}


.svg-text-alignment {
    display: flex;
    justify-content: center;
}

.svg-text-alignment svg {
    height: 40px;
    width: 40px;
    flex: auto;
}
.for-now{
    height: 270px;
    background-color: #01295e;
    margin-top: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.for-now div {
    display: flex;
    margin-top: 10px;
}

#inputs {
    width: 20rem;
    margin-right: 15px;
    border-radius: 7px;
    padding: 10px;
}
footer {
    background-color: white;
    height: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer div h3 {
    margin-bottom: 15px;
    margin-left: 80px;
}
.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 80px;
    font-weight: 700;
}
.logo-and-text {
    margin-right: 80px;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    gap: 40px;
}

.social-links svg{
    font-size: 28px;
    height: 28px;
    width: 28px;
}

#to-give-margin {
    margin-left: 20px;
}

.the-two-texts {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}